*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3em; color:white}
h2{ font-size: 5em;}
h3{ font-size: 2em;}
h4{ font-size: 1em;}
p{ font-size: 0.90em;}
ul{ list-style: none;}
li{ font-size: 1em; font-family: Arial}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:white }

header{
    background-color: black;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

/* TEXTO TUTORIALES*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color:yellow;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("excel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contenedor-grande .container{
    text-align: center;
    padding: 80px 8px;
    background-color: #069858;
}

#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}


#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 25px;
}

/* TEXTO ANTES DEL FOOTER*/
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    color: green;
    height: 20vh;
    font-family: Equilibrium Serif;
}

footer{
    background-color: #069858;
}

/* FOOTER PARA EL PÁRRAFO*/
footer p{
    margin: 5px;
    padding: 5px;
    color: white;
}

/* FOOTER PARA EL CONTENEDOR */
footer .container{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }
  
    #somos-proya h2{
        margin-top: 0px;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color:black ;
        box-shadow: 2px 2px 10px cornflowerblue;
    }


    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}